.activity-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}

.activity-details {
    flex: 1;
}

.activity-item:hover {
    cursor: pointer;
    background-color: var(--hover-color, #f1f5f9);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: -0.5rem 0;
    /* Compensation for padding addition to not shift layout */
}

.activity-icon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.chart-container {
    height: 300px;
    width: 100%;
}