.activity-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}

.activity-details {
    flex: 1;
}

.activity-item:hover {
    cursor: pointer;
}

.activity-icon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.chart-container {
    height: 300px;
    width: 100%;
}